body {
    background-image: -webkit-linear-gradient(top left, yellow 0%, blue 100%);
}

#Titles {
    background-image: url("cloudy_sun.png");
    text-align: center;
}

h1 {
    text-decoration: underline;
}

#login_register_field_top_right {
    background-color: orange;
    text-align: right;
    /*justify-content: right;*/
    padding-right: 1px;
}

form {
    text-align: center;
}

#search {
    text-align: center;
    align-self: center;
    border: red solid;
    padding-bottom: 5px;
}

#sidebar_and_results {
    display: grid;
    grid-template-areas: "a b";
}

#sidebar {
    grid-area: a;
    border: red solid 5px;
    align-self: center;
}

#results {
    display: none;
    grid-area: b;
    text-align: center;
    border: green solid 5px;
}

footer {
    background-color: orange;
    text-align: center;
}